<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Stock Portfolio App{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="nav-container">
         <a href="{{ url_for('home') }}" class="nav-logo">Stock Portfolio</a>
         <ul class="nav-menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('form') }}">Add Portfolio</a></li>
            <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
            <li><a href="{{ url_for('beginner_tutorial') }}">Tutorial</a></li>
            <li><a href="{{ url_for('chat') }}">Chat</a></li>
            <li><a href="{{ url_for('view_portfolio') }}">View Saved Portfolio</a></li>
            <li><a href="{{ url_for('my_alerts') }}">Alerts</a></li>
         </ul>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer >
    <p>© 2025 Stock Portfolio App</p>
  </footer>
  {% block scripts %}{% endblock %}
</body>
</html>
